.briefing {
  h2 {
    font-weight: bold;
  }
  table {
    width: 100%;
    margin-top: @sz16;

    thead {
      th {
        height: 5.375rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 0 @sz6;
      }
    }
    tbody {
      th {
        height: 64px;
        text-align: center;
        font-size: 1.5rem;
        &:first-child {
          text-align: left;
          padding-left: @sz10;
        }
        &:last-child {
          font-size: @sz18;
        }
      }
    }
    .activeBriefing {
      background-color: #e5f3ff;
    }

    .briefingEchart {
      padding-top: @sz18;
      padding-bottom: @sz18;
    }
  }
}
