@import 'src/style/var.less';

.defaultButton {
  width: auto;
  background-color: @defaultBlue;
  color: #fff;
  font-size: @sz16;
  border-radius: @defaultRadius;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: 'center';
  letter-spacing: @sz4;
  cursor: pointer;

  &:hover {
    background-color: lighten(@defaultBlue, 10%);
  }
}
