@import 'src/style/var.less';

.trend {
  .trendTitle {
    display: flex;
    justify-content: space-between;
    h2 {
      font-weight: bold;
    }

    .antdSelect {
      width: 7.375rem;
      height: @sz30;
      :deep(.ant-select-selector) {
        padding: 0;
        text-align: left;

        .ant-select-selection-item {
          padding-left: @sz10;
        }
      }
    }
  }
}

.trendTabs {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .trendTab {
    padding: @sz8 @sz16;
    font-weight: bold;
    font-size: @sz18;
    border-radius: @sz4;
    background-color: rgba(153, 153, 153, 0.1);
    cursor: pointer;
    margin: 0 @sz8;
    text-align: center;
  }
  .activeTrendTab {
    border: @sz1 solid @defaultBlue;
    color: @defaultBlue;
    background-color: lighten(@defaultBlue, 45%);
  }
}
